*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;

}

.navbar-light .navbar-nav .nav-link{
    font-size: 25px;
    color: whitesmoke;
    padding: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover{
    border-style: solid;
    border-width: 3px;
    border-top: crimson;
    border-left: none;
    border-right: none;
    color: crimson;}

.customtoggler{}

#abouttable{
  
}

.tableright{
  margin-left: 500px;
}



.headings{
  padding-bottom: 2%;
  color: crimson;
  border-style: solid;
  border-top: crimson;
  border-left: none;
  border-right: none;
}

.subheadings{
  padding-top: 3%;
}

.paragraphs{
  font-size: 20px;"
}


/* BUTTONS AND THINGS */

.buttons{
  border-radius: 65%;
  border: none;
  padding: 10px;
  background-color: rgba(220, 20, 60, 0.164);
}



#contactbutt1{
  color: crimson; 
  font-size: 30px;
  
}

#contactbutt2{
  color: crimson; font-size: 30px;
}

#contactbutt3{
  color: crimson; font-size: 30px;
}

#contactbutt1:hover{}


#contactbutt2:hover{}{}


#contactbutt3:hover{}

.d-block{
  border-radius: 25px;
}

.w-50{border-radius: 40%;}


/* ANIMATION, (ANIMATION TEMPLATES FROM ANIMISTA) */

#landingsection{animation:slide-in-left 3s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}



#thursimg{animation:slide-in-right 3s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.headings{
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
	        animation: heartbeat 5s ease-in-out infinite both;
            animation-iteration-count:infinite;

  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}






/* MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 670px) { 
  #thursimg{
    display: none;}
}

/*  */
@media (max-width: 540px) {

 }

@media (max-width: 720px) {

}

@media (max-width: 960px) {

}

@media (max-width: 1140px) {

}


xs
<576px	sm
≥576px	md
≥768px	lg
≥992px	xl
≥1200px	xxl
≥1400px










